<p>group works!</p>
<div class="row">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="joinGroup('Yellow')" type="button" class="btn btn-primary">Join Yellow</button>
        <button (click)="joinGroup('Blue')" type="button" class="btn btn-primary">Join Blue</button>
        <button (click)="joinGroup('Orange')" type="button" class="btn btn-primary">Join Orange</button>
    </div>
</div>
<br /> <br />
<div class="row">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="triggerGroup('Yellow')" type="button" class="btn btn-primary">Trigger Yellow</button>
        <button (click)="triggerGroup('Blue')" type="button" class="btn btn-primary">Trigger Blue</button>
        <button (click)="triggerGroup('Orange')" type="button" class="btn btn-primary">Trigger Orange</button>
    </div>
</div>
<h1>Change background color......</h1><br /><br />
<div class="row">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="changeColor('Red')" type="button" class="btn btn-primary bg-warning">Join Yellow</button>
        <button (click)="changeColor('Green')" type="button" class="btn btn-primary">Join Blue</button>
        <button (click)="changeColor('Blue')" type="button" class="btn btn-primary">Join Orange</button>
    </div>
</div>